In [5]:
import pandas as pd
df = pd.read_csv("/workspaces/DATA_3500_sandbox/titanic.csv")
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
import seaborn as sns

import matplotlib.pyplot as plt

# summary of missing values
missing = df.isnull().sum()
missing_pct = (missing / len(df) * 100).round(2)
print(pd.concat([missing, missing_pct], axis=1, keys=['missing', 'percent']).loc[lambda x: x['missing'] > 0])

import seaborn.objects as so  # modern seaborn API

# assume df is your DataFrame
missing = df.isna().sum()

# --- Bar plot of missing counts ---
(
    so.Plot(
        data=pd.DataFrame({
            "column": missing[missing > 0].index,
            "missing": missing[missing > 0].values
        }),
        x="column", y="missing"
    )
    .add(so.Bar(), so.Agg())
    .scale(fill="viridis")  # replaces palette
    .label(y="Missing values", title="Missing values per column")
    .theme({
        "axes.labelrotation": 45,
        "axes.labelha": "right"
    })
    .layout(size=(8, 4))
    .show()
)

# --- Heatmap of missing pattern ---
plt.figure(figsize=(12, 3))
plt.imshow(df.isna().iloc[:200].T, aspect="auto", cmap="mako")
plt.xlabel("Rows (first 200)")
plt.title("Missing-data heatmap (columns vs rows)")
plt.yticks(range(len(df.columns)), df.columns, rotation=0)
plt.tight_layout()
plt.show()

          missing  percent
Age           177    19.87
Cabin         687    77.10
Embarked        2     0.22

KeyError: 'axes.labelrotation is not a valid rc parameter (see rcParams.keys() for a list of valid parameters)'